.taxon-btn {
  border: 1px solid transparent;
  outline: 0;
  height: 1.75rem;
  transition: opacity ease-in-out 300ms;
}
.taxon-btn:hover {
  background: lightblue
}

.taxon-btn-selected {
  border-color: darkgray;
}
.taxon-btn-deselected {
  opacity: 0.5;
}

.taxon-btn:not(:last-child) {
  margin-right: 0.25rem;
}

.taxon-row-outer {
  overflow: auto visible;
  height: 2rem;
  display: flex;
  align-items: center;
}
.taxon-row-inner {
  white-space: nowrap;
}
